figure{
    width: 40%;
    position: relative;
    transition: all 0.5s ease-in-out;
}
figure > img {
    width: 100%;
}
figcaption{
    transition: all 0.5s ease-in-out;
    text-align: left ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.322);
    font-family: cursive;
    padding: 40px 30px 20px;
    color: #f5deb3; 
    opacity: 0;
}
figcaption > h3 {
    color: blueviolet;
}
figcaption > a {
    text-decoration: none;
    background-color: #8b0000;
    border: 2px solid #8b0000;
    padding: 10px 20px;
    font-family: Arial;
    color: wheat;
    display: inline-block;
}
 figure:hover figcaption {
    opacity: 1;
} 