/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

p {
    font-family: 'Raleway', sans-serif;
} */

/* @font-face {
    font-family: poppins_regular;
    src: url('../Fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

p {
    font-family: poppins_regular;
} */

#tiktok {
    font-size: 15rem;
    color: brown;
}